* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.w {
    width: 1048px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
em,
i {
    font-style: normal;
}
li {
    list-style: none;
}
img {
    border: 0;
    vertical-align: middle;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #121212;
}
button,
input {
    font-family: Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
    border: 0;
    outline: none;
}
body {
    -webkit-font-smoothing: antialiased;
    background-color: #f6f6f6;
    font: 12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
}
.hide,
.none {
    display: none;
}